*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* global variables */
:root{
    --maincolor:#19c8fe;
    --transparent-color:rgb(15 116 143 / 70%);
    --seconderay-color:#777;
}
html{
scroll-behavior: smooth;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px){
    .container{
        width: 748px;
    }
}
@media(min-width:992px){
    .container{
        width: 972px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1180px;
    }
}
ul{
    list-style: none;
}
/* the start of the head */
.head{
    position: absolute;/*to make it appear on the landing*/
    left: 0;
    width: 100%;
    z-index: 2;
}
.head .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px; /* because when we make it display none the height will decrease*/
}
.head img{
    height: 40px;
}
.head .container::after{
    content: "";
    height: 2px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    bottom: 0;
}
.head .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.head .container nav div i{
    color:#a2a2a2;
    position:absolute;
    right:0;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.head .container nav .toggol{
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.head .container nav ul{
    display: flex;
}
.head .container nav ul li a{
    display: block;
    padding:40px 10px;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    text-decoration: none;
    font-size: 14px;
    color: white;
    position: relative;
    z-index: 2;
}
@media(min-width:768px){
    .head .container nav .toggol{
        display: none;
    }
}
@media(max-width:767px){
    .head .container nav .list{
        display: none;
    }
    .head nav .activelist{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0,50%);
        width: 100%;
    }
    .head .container nav ul li a{
        padding: 15px;
    }
}
.head .container nav ul li a:hover ,
.head .container nav ul li .active{
    color:var(--maincolor) ;
    border-bottom: 1px solid var(--maincolor);
}
.icon{
    position: relative;
    margin-left:40px ;
    width: 40px;
    height: 30px;
    border-left:1px solid #a2a2a2;
}
/* the end of the head */
/* the start of the landing  */
.landing{
    position:relative;
    /* background-image: url(../img/landing.jpg); */
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.landing>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.landing .layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,50%);
    position: absolute;
    top: 0;
}
.landing .text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background-color:var(--transparent-color) ;
    color: white;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.landing .text .content{
    max-width: 500px;
}
.landing .text h2{
    font-weight: normal;
    line-height: 2;
}
.landing .text p{
    line-height: 1.8;
}
.landing .left{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    left: 15px;
    color: white;
    cursor: pointer;
}
.landing .right{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    right: 15px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.landing .bullets{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.landing .bullets .active{
    background-color: var(--transparent-color);
}
@media (max-width:768px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
    .landing i{
        display: none;
    }
}
/* the end of the landing */
/* the start of the main heading  */
.mian-heading{
    text-align: center;
    padding: 50px;
}
.mian-heading h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    font-size: 40px;
    position: relative;
}
.mian-heading h2::after{
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width:120px;
    height: 2px;
    bottom: -30px;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.mian-heading h2::before{
    content: "";
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 3;
}
.mian-heading p{
    color:var(--seconderay-color);
    width: 550px;
    margin: 0 auto;
    max-width: 100%;
}
/*the end of the main heading */
/* the start of the section of the  services */
.services-container
{
    padding: 50px;
}
.services-container .text{
    display: flex;
    flex-direction: column;
}
.services-container i{
    font-size: 40px;
}
.services-container h2{
    color: var(--maincolor);
}
.services-container p{
    line-height: 2;
    color:var(--seconderay-color);
}
@media(max-width:768px){
    .services-container>div{
        display: flex;
        flex-direction: column;
        gap: 20px 20px;
        text-align: center;
    }
}
@media(min-width:768px){
    .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        gap: 40px 60px;
    }
    .services-container>div{
        display: flex;
        gap: 30px 50px;
    }
}
/* the end of the section of the  services */
/* the start of the design section */
.design{
    display: flex;
    background-image: url(../img/design-features.jpg);
    background-size: cover;
    position: relative;
    align-items: center;
    height: 600px;
    overflow: hidden;
}
.design div{
    flex: 1;
    position:relative;
    z-index: 2;
    color: white;
}
.design div:first-child{
    text-align: center;
}
.design div:last-child{
    padding: 50px;
    background-color: var(--transparent-color);
}
.design::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,50%);
    position: absolute;
    top: 0;
}
.design div img{
    position: relative;
    bottom: -150px;
}
.design div h2{
    font-weight: normal;
    margin-bottom: 30px;
}
.design div ul li{
    padding: 10px 0;
    position: relative;
}
.design div ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    position: absolute;
    font-weight: 900;
    left: -25px;
    top: 10px;
}
@media(max-width:768px){
    .design div:first-child{
        display: none;
    }
    .design div:last-child{
        width: 100%;
    }
    .design div ul{
        display: flex;
        flex-direction: column;
    }
    .design div h2{
        text-align: center;
        font-size: 20px;
    }
}
/* the end of the design section */
/* the start of the portfolio section */
.portfolio{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.portfolio ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.portfolio ul li{
   padding: 10px;
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}
.portfolio ul .active ,.portfolio ul li:hover{
    background-color: var(--maincolor);
    color: white;
}
.portfolio .images{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1px;
}
.portfolio .images>div{
    position:relative;
    overflow: hidden;
}
.portfolio .images div img{
    width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.portfolio .images div div{
    position: absolute;
    bottom:-200px;
    left: 0;
    background-color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.portfolio .images div div p:last-child{
    color: var(--maincolor);
}
.portfolio .images div{
    flex-basis: 100%;
}
.portfolio .images div:hover .box{
    bottom: 0;
}
.portfolio .images div:hover img{
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
.portfolio div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.portfolio button{
    text-transform: capitalize;
    color: white;
    border: none;
    background-color: var(--maincolor);
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.portfolio button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media(min-width:768px){
    .portfolio .images div{
        flex-basis: 50%;
    }
}
@media(min-width:992px){
    .portfolio .images div{
        flex-basis: 25%;
    }
}
/* the end of the portfolio section */
/* start video */
.video{
  position: relative;
}
.video::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,40%);
    position: absolute;
    top: 0;
}
.video video{
    width: 100%;
}
.video .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--transparent-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    color: white;
}
.video .text h2{
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p{
    font-size: 20px;
    text-transform: capitalize;
}
.video button{
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: black;
    padding: 10px;
}
/* end video */
/* start about */
.about{
    padding-top: 10px;
    overflow: hidden;
   text-align: center;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media(max-width:768px){
    .about img{
        position: relative;
        bottom: -60px;
        margin-top: -60px;
    }
}
/* end about */
/* the start of the state section */
.state{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/stats.png);
    text-align: center;
    position: relative;
}
.state::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.state .container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    background-color: var(--transparent-color);
}
.state .container i{
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    color: white;
}
.state .container div  p{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}
.state .container div  p:last-child{
    font-size: 16px;
    text-transform: capitalize;
}
.state .container div{
    flex: 100%;
}
@media (min-width:768px){
    .state .container div{
        flex: 50%;
    }
}
@media (min-width:992px){
    .state .container div{
        flex: 25%;
    }
}
/* the end of the state section */
/* skills */
.our-skills{
    padding-top: 100px;
    padding-bottom: 100px;
}
.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width:992px){
    .our-skills .container > div{
        flex-basis: 45%;
    }
}
.our-skills .container > div >p {
    color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .testimonials .content img{
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 50px;
}
@media (max-width:767px){
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
      }
      .our-skills .testimonials .content img {
        margin: 0 auto 20px;
      }
}
.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
  }
  .our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
  }
  .our-skills .testimonials .bullets li.active {
    background-color: var(--maincolor);
    border-color: var(--maincolor);
  }
  .our-skills .skills .prog-holder {
    margin-bottom: 40px;
  }
  .our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
  }
  .our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--maincolor);
    height: 100%;
    position: relative;
  }
  .our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
  }
  .our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
  }
/* end skills */
/* start quates */
.quates{
    padding-top:100px ;
    padding-bottom:100px ;
    background-image:url(../img/quote.jpg) ;
    background-size: cover ;
    position: relative;
    text-align: center;
    color: white;
}
.quates::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,70%);
    position: absolute;
    top: 0;
    left: 0;
}
.quates q{
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}
.quates p{
    color: #777;
}
.quates .container{
    position: relative;
}
/* end quates */
/* the start of the pricing */
.pricing{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.pricing .plans .plan{
    text-align: center;
}
.pricing .plans .plan .head1 {
    padding: 40px 20px;
    border-top: 1px solid var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
  }
  .pricing .plans .plan .head1 h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .pricing .plans .plan .head1 span {
    font-size: 60px;
    font-weight: bold;
  }
  .pricing .plans .plan .head1 span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
  }
  .pricing .plans .plan .head1 span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
  }
  .pricing .plans .plan ul {
    border-bottom: 1px solid var(--maincolor);
  }
  .pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
  }
  .pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--maincolor);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--maincolor);
    width: fit-content;
    margin: 30px auto;
  }
  .pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
  }
  .pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--maincolor);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
  }
/* the end of the pricing */
/* the start of the email */
.email{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}
.email::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,70%);
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 0;
}
.email .container{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
}
.email .container p{
    font-size: 1.5rem;
}
.email .container .form{
    display: flex;
}
.email .container .form input{
    text-transform: capitalize;
}
.email .container .form input[type="text"]{
    border: 1px solid white;
    padding: 20px 20px 20px 60px ;
    color: white;
    background-color:transparent ;
}
.email .container .form input[type="submit"]{
    padding: 20px 30px;
    background-color: var(--maincolor);
    color: white;
    border: 1px solid white;
}
.email .container .form i{
    transform: translate(150%,30%);
    -webkit-transform: translate(150%,30%);
    -moz-transform: translate(150%,30%);
    -ms-transform: translate(150%,30%);
    -o-transform: translate(150%,30%);
    font-size: 2rem;
    color: white;
}
@media(max-width:768px){
    .email .container {
        flex-direction: column;
    }
}
/* the end of the email */
/* the start of contact */
.contact .container{
    display: flex;
    gap: 2rem;
}
.contact .container .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 70%;
}
.contact .container .form input{
    padding: 20px;
}
.contact .container .form .total{
    height: 10rem;
}
.contact .container .form div a{
    background-color: var(--maincolor);
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    float: right;
    text-decoration: none;
}
.contact .container .content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contact .container .content div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media(max-width:768px) {
    .contact .container{
        flex-direction: column;
    }
    .contact .container .content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
/* the end of the contact */
/* the start of the footer */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,70%);
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 0;
}
.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
}
.footer .container .border{
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}
.footer .container .copyright span{
    color: var(--maincolor);
}
.social-icons{
    display: flex;
    gap: 20px;
}
.myname{
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.myname span{
    color: var(--maincolor);
}
/* the end of the footer */
